.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

.mainContent {
  display: flex;
  height: calc(100vh - 92px);
}